*{
    margin: 0;
    border:0
}
.webgl{
    position: absolute;
    top: 0;
    left: 90;
    z-index: -1;
}
.title{
    margin-top: 50px;
   text-align: center;
   font-family: poppins;
    color: white;
}